<div class="container">

      <div class="col-md-12">
      <div class="card">
        <div class="card-body">

            <h5 class="card-title"> Rashid hat-trick, Nabi 81, Afghanistan win 3-0</h5>
            <h5 class="card-subtitle text-muted"> Ireland fought hard with Kevin O'Brien's rapid half-century but once he
              fell in the
              16th over, their challenge as done</h5>
          </div>
        </div>
      </div>
<hr>
      <div class="col-md-12">
      <div class="card">
          <div class="card-body">


              <h5 class="card-title"> Amla left out, Ngidi back in SA's ODI squad</h5>
              <h5 class="card-subtitle text-muted">
                Ball-tampering trio 'stuck by each other' - Bancroft
                Perry, Jonassen secure series for Aus women
                Mithali calls for age-group WC to improve depth
                Wood keen on WC spot despite Archer interest</h5>
          </div>
        </div>
      </div>

</div>
