
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="/assets/Docs/the-story-of-cricket.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Cricket
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
       aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/score">Scores <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blogs">Blogs</a>
          </li>
        </ul>
      </div>
    </nav>

